<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.daoshousong">


    <application
            android:allowBackup="true"
            android:icon="@drawable/daoshou"
            android:label="@string/app_name"
            android:roundIcon="@drawable/daoshou"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name="com.example.main.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name="com.example.main.MainActivity"></activity>
        <activity android:name="com.example.main.LoginActivity"></activity>
        <activity android:name="com.example.main.RegisterActivity"></activity>

    </application>

</manifest>